<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>
    <span class="inline">Inline Element</span>
    <div class="inline-block">Inline Block Element</div>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>
    <div class="static">Static Position</div>
    <div class="relative">Relative Position</div>
    <div class="absolute">Absolute Position</div>
    <div class="fixed">Fixed Position</div>
    <br><br>

    <h2>Floats and Clearing Floats Example</h2>

    <div>
        <div class="float-right">Float Right</div>

        
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad consequuntur iure odio, rem dolorum cupiditate aperiam repellendus. Sed tempore, labore maiores et harum voluptates tenetur modi.

        <div class="float-left">Float Left</div>

        Obcaecati cumque tempora, aspernatur temporibus aperiam magnam recusandae possimus quod odit reprehenderit, consectetur nihil et voluptatum odio quos consequuntur inventore pariatur. Provident, adipisci repellendus.

        <div class="clear-floats">Clear Floats</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam aut facilis, vel nisi earum natus deleniti asperiores sequi fuga, dolor dolorum provident veniam voluptatem. Ex vitae odit, non autem placeat eligendi facere quam pariatur harum amet quaerat id aperiam, consequuntur optio libero. Voluptatibus dicta suscipit, officia reprehenderit atque facere!

    </div>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p style="margin: 0 auto;">This box is horizontally centered.</p>
        </div>
    </div>

    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <div><p>This text is vertically and horizontally centered.</p></div>
    </div>

    <br><br><br><br>
</body>
</html>