.gridItem {
    min-width: 20px;
    margin: 10px;
    border: 2px black solid;
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    
}
.cross-axis {
    position: absolute;
    right: 50%;
    height: 1080px;
    width: 3px;
    background-color: blue;
}

.main-axis {
    position: absolute;
    top: 50%;
    height: 3px;
    width: 2160px;
    background-color: red;
}

.container {
    background-color: yellowgreen;
}

/* ======= gridbox properties discussion starts here ========*/

.gridContainer {
    display: grid;
    grid-template-areas: 
    'side . .' 
    'side . .';
    /* grid-template-columns: 'side side . ';
    grid-template-rows: 100px 50px 150px; */
    
    /* gives rows default height */
    grid-auto-rows: 100px;
}

.grid1 {
    grid-area: side;
}

.grid2 {
    grid-column: 2 / span 1;

}

.grid3 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}